---
import { Counter } from '@components/Counter';
import Title from '@components/shared/Title.astro';
import MainLayouts from '@layouts/MainLayouts.astro';

const counter = 20
---

<MainLayouts title='Islas'>
  <Title>
		Islas
	</Title>

  <Counter 
    client:visible 
    init={counter} 
    transition:persist="counter"
    transition:persist-props
  />
</MainLayouts>